<h1>This is the demo index</h1>

<a href="/demo/hello">Hello</a>
<br>
<%= link_to("Hello", {:action => 'hello'}) %>
<br>
<%= link_to("Hello with params", {:action => 'hello', :page => 5, :id => 20}) %>
